body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, img, pre, form, button, textarea, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

html, body {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: baseline
}
body{
    background-color: rgb(250,250,250);
}
a{
    color:#009AF0;
    text-decoration: none;
}
.main-wrapper{
    width:400px;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #ffffff;
}
.wrapper-content{
    padding:40px 8px 16px;
}
.findpwd .header{
    text-align: center;
    padding:40px 8px 16px;
}
.findpwd .logo img{
    width:64px;
    height: 64px;
}
.findpwd .header .title{
    margin-top: 20px;
    margin-bottom: 30px;
}
.findpwd .password-reset-form{
    max-width:320px;
    margin: 0 auto;
}
.findpwd .findpwd .form-item{
    margin-bottom: 16px;
    position: relative;
}
.findpwd .form-input-wrapper{
    width:100%;
    position: relative;
}
.findpwd .form-input-control{
    line-height: 40px;
    position: relative;
}
.findpwd .form-input{
    width:100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    height: 30px;
    padding: 0px 10px;
    font-size: 16px;
    height: 40px;
    box-sizing:border-box;
    padding-left: 40px;
}
.findpwd .form-item .icon{
    position: absolute;
    top:8px;
    left: 10px;
    color:#2E7EF4;
}
.findpwd .flex-item{
    display: flex;
}
.findpwd .btn{
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    background-color: #ffffff;
    cursor: pointer;
}
.findpwd .btn-msg{
    min-width: 120px;
    margin-left: 10px;
}
.findpwd .btn-submit{
    width:100%;
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(63, 136, 245, 0.8);
}
.findpwd .btn-submit:hover{
    width:100%;
    color: #ffffff;
    font-size: 18px;
    background-color: rgba(63, 136, 245, 1);
}
.findpwd .other-link{
    font-size: 14px;
    text-align: center;
}
.findpwd .footer{
    width:100%;
    text-align: center;
    color:#A8A8A8;
    font-size: 12px;
}

@media (max-width:500px) {
    .main-wrapper{
        width:100%;
        margin: 0 auto;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        background-color: #fafafa;
    }
}